@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.about {
  background-color: #0a2750;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  padding-top: 100px;
  padding-left: 80px;
  margin-top: 0;
  margin-right: auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin-bottom: 0;
}

.about__content {
  padding-top: 119px;
  padding-right: 80px;
  padding-bottom: 173px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  align-content: right;
}

.about__paragraph {
  margin-top: 0;
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-of-type {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 425px;
  height: 425px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: 1.3s ease-in-out 0s infinite normal pulsate;
}
