.form__input {
  display: block;
  border-radius: 4px;
  margin-bottom: 32px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  box-sizing: border-box;
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button {
  background-color: #2f80ed;
  color: #fff;
  border-radius: 4px;
  transition-duration: 0.5s;
  padding: 15px 0;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.form__fieldset {
  border: none;
  width: 100%;
  padding: 0;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  background-image: url(../images/check.svg);
  background-color: #2f80ed;
  margin-right: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  width: 20px;
}

.form__label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
