.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 80px;
  padding-bottom: 40px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  padding-top: 80px;
  padding-left: 50px;
  padding-bottom: 28px;
  margin: 0 0 0;
  max-width: 700px;
  display: inline-block;
}

.header__span-accent {
  display: block;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 50px;
  margin: 0;
  max-width: 675px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: -1;
  max-width: 550px;
}

.header__footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: auto;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding-left: 80px;
  margin: 0;
}

.header__paragraph:last-child {
  padding-right: 80px;
}
