.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  color: #fff;
}

.menu__title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 24px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
}

.menu__subtitle {
  text-align: center;
  margin: 0 auto;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
}

.menu__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 100px 45px;
  color: #fff;
}

.menu__card:last-child {
  padding-bottom: 0;
}
