.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  column-gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  margin: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}
