.recipes {
  background-color: #fff;
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 24px;
}

.recipes__subtitle {
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 0;
  padding-left: 80px;
  padding-bottom: 80px;
}

.recipes__videos {
  align-items: center;
  margin: 0 auto;
  width: 1000px;
  padding-bottom: 215px;
}

.recipes__videos-content {
  display: inline-block;
  padding: 0;
}

.recipes__videos-caption {
  display: block;
  float: left;
  margin: 0;
  width: 100%;
}

.recipes__video-caption-french-press {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: inline;
  float: left;
  text-align: left;
  width: 40%;
}

.recipes__video-caption-seperator-french-press {
  display: inline;
  float: left;
  text-align: center;
  width: 20%;
}

.recipes__video-caption-french-press-time {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  float: right;
  text-align: right;
  width: 40%;
}

.recipes__video-caption-aeropress {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: inline;
  float: left;
  text-align: left;
  width: 40%;
}

.recipes__video-caption-seperator-aeropress {
  display: inline;
  float: left;
  text-align: center;
  width: 20%;
}

.recipes__video-caption-aeropress-time {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  float: right;
  text-align: right;
  width: 40%;
}

.aeropress {
  padding-right: 20px;
}
