.recipes {
  background-color: #fff;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 0;
  padding-left: 80px;
  padding-bottom: 80px;
}

.recipes__iframes {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 215px;
}

.recipes__videos-content {
  width: 480px;
  padding: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  width: 100%;
}
